build
orange
orange.iso
obj
trash
.code
serial_output.txt
kernel-deps
/limine
initrd/usr/include
kernel/bin
kernel/cc-runtime
kernel/cc-runtime-x86_64
kernel/freestnd-c-hdrs
kernel/freestnd-cxx-hdrs
main.o
.jinx-cache
serial.txt
output.txt
Orange-distro-build
ovmf
cached
.vscode
initrd/usr/lib
initrd/usr/include
initrd
orange-mlibc
sources
./initrd
qemu_log.txt
orange.hdd
./tools/toolchain/pack
pack
initrd.tar
qemu.txt
build-x86_64
linux-headers